/* ------------右邊地址------------- */
.box{
    max-width: 100%;
    height: 450px;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.all-text{
    font-weight: bold;
}
.title{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
.address{
    display: flex;
    align-items: center;
    padding: 20px;
}
.assress-text p{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 100px;

}
/* ------- */
.phone{
    display: flex;
    align-items: center;
    padding: 20px;
}
.phone-text p{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 100px;
}
/* ------- */

.gmail{
    display: flex;
    padding: 20px;
}
.gmail-text p{
    padding-left: 100px;
}
/* ------- */

.dotted-line{
    width: 100%;
    max-width: 100%;
    border-top: 1px;
    border-style: dashed;
}
/* ------------右邊icon------------- */
.icon{
    list-style: none;
    display: flex;
    align-items: center;
}
.icon a{
    text-decoration: none;
    color: white;
    
}
.icon-call{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon svg{
    padding: 20px;
    padding-left: 10px;
}
.call{
    background-color: #aeaeae;
    padding: 10px;
    margin-right:10px;
}
.call:hover{
    background-color: #d09384;
}
/* ----------- */
.line{
    background-color: #aeaeae;
    padding: 10px;
    margin-right:10px;
}
.line:hover{
    background-color: #d09384;
}
.icon-line{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ----------- */
.form{
    background-color: #aeaeae;
    padding: 10px;
    margin-right:10px;
}
.form:hover{
    background-color: #d09384;
}
.icon-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ----------- */

.connection{
    background-color: #aeaeae;
    padding: 10px;
    margin-right:10px;
}
.connection:hover{
    background-color: #d09384;
}
.icon-connection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* ----------- */
.fan-page{
    background-color: #aeaeae;
    padding: 10px;
    margin-right:10px;
}
.fan-page:hover{
    background-color: #d09384;
}
.icon-fan-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}