<div class="box">
    <div>
        <img src="assets/img/content.png" alt="">
    </div>
    <div class="all-text">
        <div class="all-one">
            <p class="text-one">全台灣服務</p>
            <p>可道全台服務，不論您有什麼法律問題，我們都能為您服務!</p>
        </div>
        <div class="all-two">
            <p class="text-two">專業法律團隊</p>
            <p>知名吳存富律師領銜法律顧問團隊，是您最堅強的後盾!</p>
        </div>
        <div class="all-three">
            <p class="text-three">線上即時諮詢</p>
            <p>您有法律問題嗎?我們有提供Line線上專業的律師團隊協助您!</p>
        </div>
        <div class="all-four">
            <p class="text-four">各業界指名推薦</p>
            <p>企業及民眾優先指名推薦最專業服務最好的法律顧問!</p>
        </div>
    </div>
    <div class="round"></div>
    <p class="footer">可道的優勢</p>
</div>


