.box{
    max-width: 100%;
    height: 500px;
    background-color: #363236;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.round{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #363236 ;
    position: absolute;
    top: -60px;
    left: 870px;
}
.footer{
    position: absolute;
    top: -25px;
    left: 895px;
    font-size: 20px;
    color: #dcd0c1;
    font-weight: bold;
}
.box img{
    width: 400px;
    height: 400px;
}

.all-text{
    color: #dcd0c1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.all-one{
    margin-bottom: 40px;
}
.text-one{
    font-size: 20px;
    color: #e9b775;
    margin-bottom: 10px;
}
.all-two{
    margin-bottom: 40px;
}
.text-two{
    font-size: 20px;
    color: #e9b775;
    margin-bottom: 10px;
}
.all-three{
    margin-bottom: 40px;
}
.text-three{
    font-size: 20px;
    color: #e9b775;
    margin-bottom: 10px;
}
.text-four{
    font-size: 20px;
    color: #e9b775;
    margin-bottom: 10px;
}
