<!-- <div class="nav">
    <div>
        <a routerLink="home"><img src="assets/img/logo.png" alt=""></a>
    </div>
    <div class="link">
        <a routerLink="share">案例分享</a>
        <a routerLink="news">最新消息</a>
        <a routerLink="allteam">專業團隊</a>
        <a routerLink="adviser">訂閱式/年度法律顧問</a>
        <a routerLink="reserve">預約諮詢</a>
    </div>
    
</div> -->
<ul class="nav">
    <div>
        <a routerLink="home"><img src="assets/img/logo.png" alt=""></a>
    </div>
    <div>
        <li class="word">
            <a routerLink="home" class="share">案例分享</a>
            <div class="menu">
              <a routerLink="real-estate">不動產案例</a>
              <a routerLink="criminal">刑事案例</a>
              <a routerLink="property">智慧財產</a>
              <a routerLink="marriage">婚姻親子</a>
              <a routerLink="family">家事繼承、遺囑、信託</a>
              <a routerLink="labor">勞資糾紛</a>
              <a routerLink="debt">債權債務</a>
              <a routerLink="exhort">可道小叮嚀</a>
              <a routerLink="apartment">公寓大廈案例專區</a>
            </div>
        </li>
        <li><a routerLink="news">最新消息</a></li>
        <li><a routerLink="allteam">專業團隊</a></li>
        <li><a routerLink="adviser">訂閱式/年度法律顧問</a></li>
        <li><a routerLink="reserve">預約諮詢</a></li>

    </div>
    

</ul>