/* .nav{
    max-width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.link{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.link :hover{
    color: #cf9281;
}
.link a{
    color: aliceblue;
    text-decoration: none;
} */
.nav{
    max-width: 100%;
    height: 80px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
li {
    float: left;
    font-size: 20px;

}
  
li a, .share {
    display: inline-block;
    color: #fcfcfc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover, .word:hover .share {
    background-color: #5e4947;
}
  
li.word {
    display: inline-block;
}
  
.menu {
    display: none;
    position: absolute;
    background-color: #e8e8e8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.menu a {
    color: #5e4947;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.menu a:hover {
    background-color: #dcd0c0;
}
  
.word:hover .menu {
    display: block;
}