.footer{
    max-width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 40px;
    height: 40px;
    padding-left: 50px;
    padding-right: 40px;
}
.text{
    display: flex;
    align-items: center;
    margin-left: 180px;
}