.box{
    width: 100%;
   
    background-color: #363236;
}

.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;
    
}
.left-line{
    width: 250px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.right-line{
    width: 1300px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.share{
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
/* -------------------- */
.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.pic svg{
    width: 80px;
    height: 80px;
    fill: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
.criminal{
    color: #dcd0c0;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
/* ----------- */
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding-bottom: 50px;
}
.first{
    font-size: 18PX;
    color: #e9b775;
    margin-top: 18px;
    margin-bottom: 7px;
}
.second{
    color: #dcd0c0;
}
.bottom-line{
    width: 1100px;
    border-top: 2px;
    border-style:solid;
    border-style: dashed;
    color: #dcd0c0;
    margin-top: 10px;

}