<div class="box">
    <div class="title">
        <div class="line">
            <p class="left-line"></p>
            <p class="reserve">訂閱式/年度法律顧問</p>
            <p class="right-line"></p>
        </div>
    </div>
    <div class="word">
        <p class="consult">訂閱式法律顧問</p>
        <p>本事務所長期關注貨款催收、人資管理、智財保護、工程、房屋建設、買賣及房屋瑕疵等相關議題<br>
            並且著有【別讓買房成為你的惡夢】、【別讓勞資爭議損害你的權益】等書，目前擔任多家公司之法律顧問<br>
            對於貴司可能面臨的相關法律問題均有相關實務經驗。<br><br>
            一般事務所的法顧模式都是一年一約，但本所提供全新型態的訂閱式法律顧問服務<br>
            您有需求再訂閱，避免公司與一般律師事務所合作付了常年的法顧費用卻發現沒有這麼高的法律需求<br>
            還可取代公司聘用法務人員所需支出的薪資、勞健保、勞退等各項人事成本<br>
            由事務所團隊為您解決公司的法務問題。
        </p>
    </div>
    <!-- ---------------icon------------------- -->
    <div class="icon">
        <div class="icons">
            <div class="pic">
                <svg id="Icons" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path class="cls-1" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/><path class="cls-1" d="M13,11.586V6a1,1,0,0,0-2,0v6a1,1,0,0,0,.293.707l3,3a1,1,0,0,0,1.414-1.414Z"/></svg>
                <p>訂閱式法律顧問：<br>
                法律諮詢<br>
                法務文件無限制次數</p>
                    
            </div>
            <div class="pic">
                <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M272.1 204.2v71.1c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.1 0-2.1-.6-2.6-1.3l-32.6-44v42.2c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.8 0-3.2-1.4-3.2-3.2v-71.1c0-1.8 1.4-3.2 3.2-3.2H219c1 0 2.1.5 2.6 1.4l32.6 44v-42.2c0-1.8 1.4-3.2 3.2-3.2h11.4c1.8-.1 3.3 1.4 3.3 3.1zm-82-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 1.8 1.4 3.2 3.2 3.2h11.4c1.8 0 3.2-1.4 3.2-3.2v-71.1c0-1.7-1.4-3.2-3.2-3.2zm-27.5 59.6h-31.1v-56.4c0-1.8-1.4-3.2-3.2-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 .9.3 1.6.9 2.2.6.5 1.3.9 2.2.9h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.7-1.4-3.2-3.1-3.2zM332.1 201h-45.7c-1.7 0-3.2 1.4-3.2 3.2v71.1c0 1.7 1.4 3.2 3.2 3.2h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2V234c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2v-11.4c-.1-1.7-1.5-3.2-3.2-3.2zM448 113.7V399c-.1 44.8-36.8 81.1-81.7 81H81c-44.8-.1-81.1-36.9-81-81.7V113c.1-44.8 36.9-81.1 81.7-81H367c44.8.1 81.1 36.8 81 81.7zm-61.6 122.6c0-73-73.2-132.4-163.1-132.4-89.9 0-163.1 59.4-163.1 132.4 0 65.4 58 120.2 136.4 130.6 19.1 4.1 16.9 11.1 12.6 36.8-.7 4.1-3.3 16.1 14.1 8.8 17.4-7.3 93.9-55.3 128.2-94.7 23.6-26 34.9-52.3 34.9-81.5z"/></svg>
                <p>專屬群組法律諮詢</p>
            </div>
            <div class="pic">
                <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 28H8V16l16 10 16-10v20zM24 22L8 12h32L24 22z"/></svg>
                <p>協議、合約撰擬及審查</p>
            </div>
            <div class="pic">
                <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M64 288l-64 208l97.62-104.2c-.75-2.5-1.625-5-1.625-7.75c0-17.62 14.38-32 32-32s32 14.38 32 32s-14.38 32-32 32c-2.75 0-5.25-.875-7.75-1.625l-104.2 97.63L224 448l38.12-99.25L163.2 249.9L64 288zM369.3 28.38L186.1 227.8l97.88 97.87l199.5-183.1C568.4 67.5 443.8-55.1 369.3 28.38z"/></svg>
                <p>人資管理</p>
            </div>
            
            <div class="pic">
                <svg height="" viewBox="0 0 1792 1792" width="" xmlns="http://www.w3.org/2000/svg"><path d="M1771 1536q0 53-37 90l-107 108q-39 37-91 37-53 0-90-37l-363-364q-38-36-38-90 0-53 43-96l-256-256-126 126q-14 14-34 14t-34-14q2 2 12.5 12t12.5 13 10 11.5 10 13.5 6 13.5 5.5 16.5 1.5 18q0 38-28 68-3 3-16.5 18t-19 20.5-18.5 16.5-22 15.5-22 9-26 4.5q-40 0-68-28l-408-408q-28-28-28-68 0-13 4.5-26t9-22 15.5-22 16.5-18.5 20.5-19 18-16.5q30-28 68-28 10 0 18 1.5t16.5 5.5 13.5 6 13.5 10 11.5 10 13 12.5 12 12.5q-14-14-14-34t14-34l348-348q14-14 34-14t34 14q-2-2-12.5-12t-12.5-13-10-11.5-10-13.5-6-13.5-5.5-16.5-1.5-18q0-38 28-68 3-3 16.5-18t19-20.5 18.5-16.5 22-15.5 22-9 26-4.5q40 0 68 28l408 408q28 28 28 68 0 13-4.5 26t-9 22-15.5 22-16.5 18.5-20.5 19-18 16.5q-30 28-68 28-10 0-18-1.5t-16.5-5.5-13.5-6-13.5-10-11.5-10-13-12.5-12-12.5q14 14 14 34t-14 34l-126 126 256 256q43-43 96-43 52 0 91 37l363 363q37 39 37 91z"/></svg>
                <p>帳務、貸款催收</p>
            </div>
            <div class="pic">
                <svg enable-background="new 0 0 48 48" height="" id="Layer_1" version="1.1" viewBox="0 0 48 48" width="" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M37,47H11c-2.209,0-4-1.791-4-4V5c0-2.209,1.791-4,4-4h18.973  c0.002,0,0.005,0,0.007,0h0.02H30c0.32,0,0.593,0.161,0.776,0.395l9.829,9.829C40.84,11.407,41,11.68,41,12l0,0v0.021  c0,0.002,0,0.003,0,0.005V43C41,45.209,39.209,47,37,47z M31,4.381V11h6.619L31,4.381z M39,13h-9c-0.553,0-1-0.448-1-1V3H11  C9.896,3,9,3.896,9,5v38c0,1.104,0.896,2,2,2h26c1.104,0,2-0.896,2-2V13z M33,39H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18  c0.553,0,1,0.448,1,1C34,38.553,33.553,39,33,39z M33,31H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1  C34,30.553,33.553,31,33,31z M33,23H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1C34,22.553,33.553,23,33,23  z" fill-rule=""/></svg>
                <p>商標及著作權之保護</p>
            </div>
            <div class="pic">
                <svg enable-background="new 0 0 64 64" height="" id="Layer_1" version="1.1" viewBox="0 0 64 64" width="" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M63.766,26.698l-0.027-0.062l0.015-0.012l-0.198-0.378L52.936,6.025c-0.29-0.528-1.299-2.078-3.24-2.078  H14.119c-2.166,0-3.25,2.134-3.274,2.184L0.415,25.99l-0.004,0.009l-0.074,0.14c-0.175,0.346-0.563,1.286-0.178,2.214  c2.65,4.302,7.374,7.188,12.797,7.188c5.302,0,9.927-2.765,12.607-6.908c0.41-0.941-0.161-2.12-0.161-2.12L15.534,7.721  l-0.096-0.182c-0.133-0.306-0.251-0.889,0.807-0.889h12.938c0.367,0.012,1.39,0.194,1.39,1.907v44.518  c-0.024,0.441-0.191,1.334-1.108,1.9l-6.477,4.006c0,0-1.699,1.072,0,1.072h18.379c1.253,0,0-0.869,0-0.869L34.695,55.1  c-0.003-0.002-0.003-0.004-0.006-0.006c-1.097-0.672-1.302-1.518-1.332-1.945V8.367c0-1.548,1.11-1.708,1.5-1.717h12.651  c0.331,0.006,1.34,0.116,0.705,1.331l-9.907,18.858c0,0-0.31,0.742,0.039,1.556c2.653,4.278,7.359,7.146,12.765,7.146  c5.415,0,10.138-2.874,12.788-7.166C64.163,27.683,63.865,26.915,63.766,26.698z M22.198,26.104l0.001,0.001l0.136,0.261  c0.21,0.434,0.527,1.26-0.136,1.26L3.391,27.624c-0.624,0-0.5-0.571-0.301-1.032l0.298-0.566l0.003-0.005l8.966-17.072  c0,0,0.458-0.708,0.83,0h0.001L22.198,26.104z M41.578,26.311l0.133-0.253c0-0.001,0.005-0.01,0.005-0.01l8.766-16.691  c0.012-0.018,0.607-1.15,1.213,0.003l8.74,16.639c0.181,0.358,0.734,1.629-0.563,1.629l-17.455-0.003c-0.003,0-0.003,0-0.003,0  C41.142,27.624,41.372,26.758,41.578,26.311z" fill=""/></svg>
                <p>內部法律教育講習</p>
            </div>
            <div class="pic">
                <svg height="" viewBox="0 0 24 24" width="" xmlns="http://www.w3.org/2000/svg"><path d="M12 22c5.421 0 10-4.579 10-10S17.421 2 12 2 2 6.579 2 12s4.579 10 10 10zm0-18c4.337 0 8 3.663 8 8s-3.663 8-8 8-8-3.663-8-8 3.663-8 8-8z"/><path d="M12 17c.901 0 2.581-.168 3.707-1.292l-1.414-1.416C13.85 14.735 12.992 15 12 15c-1.626 0-3-1.374-3-3s1.374-3 3-3c.993 0 1.851.265 2.293.707l1.414-1.414C14.582 7.168 12.901 7 12 7c-2.757 0-5 2.243-5 5s2.243 5 5 5z"/></svg>
                <p>支票、本票、抵押之催討程序</p>
            </div>
            <div class="text">
                <p>每月不限時數</p>
                <a href="#">我要申請</a>
                <p>NT$30,000</p>
            </div>
            <!-- ------------- -->
            <div class="icons">
                <div class="icons">
                    <div class="pic">
                        <svg id="Icons" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path class="cls-1" d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/><path class="cls-1" d="M13,11.586V6a1,1,0,0,0-2,0v6a1,1,0,0,0,.293.707l3,3a1,1,0,0,0,1.414-1.414Z"/></svg>
                        <p>每年10小時法律服務時數</p>
                        <span>您或公司有任何法律上的問題，我們方案提供</span>
                        <span>每年共10小時的法律服務時數，提供您不時之需!</span>
                    </div>
                    <div class="pic">
                        <svg viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M272.1 204.2v71.1c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.1 0-2.1-.6-2.6-1.3l-32.6-44v42.2c0 1.8-1.4 3.2-3.2 3.2h-11.4c-1.8 0-3.2-1.4-3.2-3.2v-71.1c0-1.8 1.4-3.2 3.2-3.2H219c1 0 2.1.5 2.6 1.4l32.6 44v-42.2c0-1.8 1.4-3.2 3.2-3.2h11.4c1.8-.1 3.3 1.4 3.3 3.1zm-82-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 1.8 1.4 3.2 3.2 3.2h11.4c1.8 0 3.2-1.4 3.2-3.2v-71.1c0-1.7-1.4-3.2-3.2-3.2zm-27.5 59.6h-31.1v-56.4c0-1.8-1.4-3.2-3.2-3.2h-11.4c-1.8 0-3.2 1.4-3.2 3.2v71.1c0 .9.3 1.6.9 2.2.6.5 1.3.9 2.2.9h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.7-1.4-3.2-3.1-3.2zM332.1 201h-45.7c-1.7 0-3.2 1.4-3.2 3.2v71.1c0 1.7 1.4 3.2 3.2 3.2h45.7c1.8 0 3.2-1.4 3.2-3.2v-11.4c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2V234c0-1.8-1.4-3.2-3.2-3.2H301v-12h31.1c1.8 0 3.2-1.4 3.2-3.2v-11.4c-.1-1.7-1.5-3.2-3.2-3.2zM448 113.7V399c-.1 44.8-36.8 81.1-81.7 81H81c-44.8-.1-81.1-36.9-81-81.7V113c.1-44.8 36.9-81.1 81.7-81H367c44.8.1 81.1 36.8 81 81.7zm-61.6 122.6c0-73-73.2-132.4-163.1-132.4-89.9 0-163.1 59.4-163.1 132.4 0 65.4 58 120.2 136.4 130.6 19.1 4.1 16.9 11.1 12.6 36.8-.7 4.1-3.3 16.1 14.1 8.8 17.4-7.3 93.9-55.3 128.2-94.7 23.6-26 34.9-52.3 34.9-81.5z"/></svg>
                        <p>您專屬LINE法律諮詢</p>
                        <span>我們會提供您專屬您的線上Line群組，</span>
                        <span>隨時隨地您有問題可隨時通知我們!</span>   
                    </div>
                    <div class="pic">
                        <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M40 8H8c-2.21 0-3.98 1.79-3.98 4L4 36c0 2.21 1.79 4 4 4h32c2.21 0 4-1.79 4-4V12c0-2.21-1.79-4-4-4zm0 28H8V16l16 10 16-10v20zM24 22L8 12h32L24 22z"/></svg>
                        <p>律師函、存證信函</p>
                        <span>2個小時起/乙份(包含郵資)</span>
                    </div>
                    <div class="pic">
                        <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M64 288l-64 208l97.62-104.2c-.75-2.5-1.625-5-1.625-7.75c0-17.62 14.38-32 32-32s32 14.38 32 32s-14.38 32-32 32c-2.75 0-5.25-.875-7.75-1.625l-104.2 97.63L224 448l38.12-99.25L163.2 249.9L64 288zM369.3 28.38L186.1 227.8l97.88 97.87l199.5-183.1C568.4 67.5 443.8-55.1 369.3 28.38z"/></svg>
                        <p>審閱及撰寫合約</p>
                        <span>2個小時起/乙份</span>
                        <span>*案情較複雜之契約，將會告知當事人，</span>
                        <span>而以實際所花費的時數加以扣除</span>
                    </div>
                    <div class="pic">
                        <svg height="" viewBox="0 0 1792 1792" width="" xmlns="http://www.w3.org/2000/svg"><path d="M1771 1536q0 53-37 90l-107 108q-39 37-91 37-53 0-90-37l-363-364q-38-36-38-90 0-53 43-96l-256-256-126 126q-14 14-34 14t-34-14q2 2 12.5 12t12.5 13 10 11.5 10 13.5 6 13.5 5.5 16.5 1.5 18q0 38-28 68-3 3-16.5 18t-19 20.5-18.5 16.5-22 15.5-22 9-26 4.5q-40 0-68-28l-408-408q-28-28-28-68 0-13 4.5-26t9-22 15.5-22 16.5-18.5 20.5-19 18-16.5q30-28 68-28 10 0 18 1.5t16.5 5.5 13.5 6 13.5 10 11.5 10 13 12.5 12 12.5q-14-14-14-34t14-34l348-348q14-14 34-14t34 14q-2-2-12.5-12t-12.5-13-10-11.5-10-13.5-6-13.5-5.5-16.5-1.5-18q0-38 28-68 3-3 16.5-18t19-20.5 18.5-16.5 22-15.5 22-9 26-4.5q40 0 68 28l408 408q28 28 28 68 0 13-4.5 26t-9 22-15.5 22-16.5 18.5-20.5 19-18 16.5q-30 28-68 28-10 0-18-1.5t-16.5-5.5-13.5-6-13.5-10-11.5-10-13-12.5-12-12.5q14 14 14 34t-14 34l-126 126 256 256q43-43 96-43 52 0 91 37l363 363q37 39 37 91z"/></svg>
                        <p>支付命令程序/本票裁定程序</p>
                        <span>2個小時起/乙份</span>
                    </div>
                    <div class="pic">
                        <svg enable-background="new 0 0 48 48" height="" id="Layer_1" version="1.1" viewBox="0 0 48 48" width="" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M37,47H11c-2.209,0-4-1.791-4-4V5c0-2.209,1.791-4,4-4h18.973  c0.002,0,0.005,0,0.007,0h0.02H30c0.32,0,0.593,0.161,0.776,0.395l9.829,9.829C40.84,11.407,41,11.68,41,12l0,0v0.021  c0,0.002,0,0.003,0,0.005V43C41,45.209,39.209,47,37,47z M31,4.381V11h6.619L31,4.381z M39,13h-9c-0.553,0-1-0.448-1-1V3H11  C9.896,3,9,3.896,9,5v38c0,1.104,0.896,2,2,2h26c1.104,0,2-0.896,2-2V13z M33,39H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18  c0.553,0,1,0.448,1,1C34,38.553,33.553,39,33,39z M33,31H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1  C34,30.553,33.553,31,33,31z M33,23H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1C34,22.553,33.553,23,33,23  z" fill-rule=""/></svg>
                        <p>法律意見書</p>
                        <span>2個小時起/乙份</span>
                        <span>*案情較複雜之契約，將會告知當事人，</span>
                        <span>而以實際所花費的時數加以扣除</span>
                    </div>
                    <div class="pic">
                        <svg enable-background="new 0 0 64 64" height="" id="Layer_1" version="1.1" viewBox="0 0 64 64" width="" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M63.766,26.698l-0.027-0.062l0.015-0.012l-0.198-0.378L52.936,6.025c-0.29-0.528-1.299-2.078-3.24-2.078  H14.119c-2.166,0-3.25,2.134-3.274,2.184L0.415,25.99l-0.004,0.009l-0.074,0.14c-0.175,0.346-0.563,1.286-0.178,2.214  c2.65,4.302,7.374,7.188,12.797,7.188c5.302,0,9.927-2.765,12.607-6.908c0.41-0.941-0.161-2.12-0.161-2.12L15.534,7.721  l-0.096-0.182c-0.133-0.306-0.251-0.889,0.807-0.889h12.938c0.367,0.012,1.39,0.194,1.39,1.907v44.518  c-0.024,0.441-0.191,1.334-1.108,1.9l-6.477,4.006c0,0-1.699,1.072,0,1.072h18.379c1.253,0,0-0.869,0-0.869L34.695,55.1  c-0.003-0.002-0.003-0.004-0.006-0.006c-1.097-0.672-1.302-1.518-1.332-1.945V8.367c0-1.548,1.11-1.708,1.5-1.717h12.651  c0.331,0.006,1.34,0.116,0.705,1.331l-9.907,18.858c0,0-0.31,0.742,0.039,1.556c2.653,4.278,7.359,7.146,12.765,7.146  c5.415,0,10.138-2.874,12.788-7.166C64.163,27.683,63.865,26.915,63.766,26.698z M22.198,26.104l0.001,0.001l0.136,0.261  c0.21,0.434,0.527,1.26-0.136,1.26L3.391,27.624c-0.624,0-0.5-0.571-0.301-1.032l0.298-0.566l0.003-0.005l8.966-17.072  c0,0,0.458-0.708,0.83,0h0.001L22.198,26.104z M41.578,26.311l0.133-0.253c0-0.001,0.005-0.01,0.005-0.01l8.766-16.691  c0.012-0.018,0.607-1.15,1.213,0.003l8.74,16.639c0.181,0.358,0.734,1.629-0.563,1.629l-17.455-0.003c-0.003,0-0.003,0-0.003,0  C41.142,27.624,41.372,26.758,41.578,26.311z" fill=""/></svg>
                        <p>拍賣抵押物裁定</p>
                        <span>2個小時起/乙份</span>
                        <span>*若欲包含執行，</span>
                        <span>依不動產所在地區，收費另議</span>
                    </div>
                    <div class="pic">
                        <svg height="" viewBox="0 0 24 24" width="" xmlns="http://www.w3.org/2000/svg"><path d="M12 22c5.421 0 10-4.579 10-10S17.421 2 12 2 2 6.579 2 12s4.579 10 10 10zm0-18c4.337 0 8 3.663 8 8s-3.663 8-8 8-8-3.663-8-8 3.663-8 8-8z"/><path d="M12 17c.901 0 2.581-.168 3.707-1.292l-1.414-1.416C13.85 14.735 12.992 15 12 15c-1.626 0-3-1.374-3-3s1.374-3 3-3c.993 0 1.851.265 2.293.707l1.414-1.414C14.582 7.168 12.901 7 12 7c-2.757 0-5 2.243-5 5s2.243 5 5 5z"/></svg>
                        <p>商標申請</p>
                        <span>2個小時起/乙份</span>
                    </div>
                </div>
                <div class="text">
                    <p>每年10小時</p>
                    <a href="#">我要申請</a>
                    <p>NT$60,000</p>
                </div>
            </div>
        </div>
    

</div>