.box{
    width: 100%;
    background-color: #363236;
    display: flex;
    flex-direction: column;
}

.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;

}
.left-line{
    width: 250px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.reserve{
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
.right-line{
    width: 1300px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
/* ------------------------ */
.word{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #dcd0c0;
    font-weight: bold;
    margin-top: 100px;
    line-height: 30px;
}
.consult{
    font-size: 30px;
    margin-bottom: 30px;
}
/* -----icon------ */
.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1500px;
    padding-bottom: 100px;
}
.pic{
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-right: 40px;
    margin-left: 40px;
}
.pic svg{
    width: 100px;
    height: 100px;
    fill:#5e4947;
    padding: 20px;
    border: 3px solid #efb1a3;
    border-radius: 100px;
    background-color: #efb1a3;
}
.pic p{
    width: 220px;
    color: #dcd0c0;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20PX;
}
.pic span{
    width: 300px;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #a7907c;
    line-height: 22px;
}
/* --------- */
.text{
    font-size: 20px;
    color: #dcd0c0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.text a{
    background-color: #b48783;
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
}
.text a:hover{
    background-color: #a7907c;
}