.box{
    width: 100%;
    background-color: #363236;
}

.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;

}
.left-line{
    width: 250px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.adviser{
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
.right-line{
    width: 1300px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
/* -----------內容------------ */
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.first{
    color: #dcd0c0;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.second{
    color: #dcd0c0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}
.third{
    color: #dcd0c0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 50px;
}
/* ---------地址--------- */
.address{
    color: #dcd0c0;
    font-weight: 800;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.word{
    margin-right: 30px;
    line-height: 25px;

}
.xinzhu{
    margin-bottom: 20px;
}
.xinbei{
    margin-bottom: 20px;
}
.kaohsiung{
    margin-bottom: 20px;
}
.phone{
    margin-bottom: 20px;
}
.time{
    margin-bottom: 20px;
}
.email{
    margin-bottom: 20px;
}
.map{
    margin-bottom: 200px;
}
