<div class="box">
    <div class="title">
        <div class="line">
            <p class="left-line"></p>
            <p class="adviser">預約諮詢</p>
            <p class="right-line"></p>
        </div>
    </div>
    <!-- ------------------------------ -->
    <div class="text">
        <p class="first">可道律師事務所</p>
        <p class="second">可道本所及以下地點皆提供免費現場法律諮詢</p>
        <p class="third">台北、基隆、桃園、 新竹、苗栗、台中、南投、彰化、雲林、嘉義、台南、高雄、宜蘭、花蓮</p>
    </div>
    <div class="address">
        <div class="word">
            <p class="xinbei">本所地址:<br>新北市三重區重新路一段50號3樓(捷運台北橋站出口右轉)</p>
            <p class="xinzhu">新竹所:<br>新竹縣竹北市成功十五街50號1樓</p>
            <p class="kaohsiung">高雄所:<br> 高雄市新興區七賢一路394-1號2樓(出入口於公證人事務所右側2樓)</p>
            <p class="phone">客服電話:<br>
                台北：(02)2976-1611<br>
                新竹：(03)658-1500<br>
                高雄：(07)236-0560</p>
            <p class="time">
                全台各縣市免費諮詢預約專線:(02)2976-1611<br>
                平日白天/晚上/假日都可預約
            </p>
            <p class="email">E-mail:<br>wu0920340500@gmail.com</p>
            <p class="car">
                停車資訊:<br>
                新北市三重區福和街60號<br>
                新北市三重區光興街41號<br>
                新北市三重區重新路二段1號B1
            </p>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7440.050385185784!2d121.49838543409038!3d25.06380647215584!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a93d34a15575%3A0x1d47c152763cbee7!2zMjQx5paw5YyX5biC5LiJ6YeN5Y2A6YeN5paw6Lev5LiA5q61NTDomZ8!5e0!3m2!1szh-TW!2stw!4v1666674467039!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

