.box{
    width: 100%;
    background-color: #363236;
}
.up{
    display: flex;
    justify-content: end;
    color: #dcd0c0;
    padding-top: 5%;
    padding-right: 50px;
}
.frontpage{
    margin-right: 20px;
}
.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-line{
    width: 250px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.contact{
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
.right-line{
    width: 1300px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
/* --------------表單-------------- */
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 1900px;
}

/* -----------------表單內容------------------------- */
.input{
    font-size: 18px;
    color: black;
    width: 480px;
    height: 45px;
    margin-bottom: 20px;
    margin-right: 3px;
    border-radius: 15px;
}
.law-main{
    color: black;
    width: 980px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 15px;

}
.law{
    font-size: 20px;
    font-weight: bold;
    color: #dcd0c0;
}
.firm-main{
    color: black;
    width: 980px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 15px;

}
.firm{
    font-size: 20px;
    font-weight: bold;
    color: #dcd0c0;
    margin-bottom: 50px;
    
}
.firm-mainone{
    color: black;
    width: 972px;
    height: 45px;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 15px;

}

/* ------------------希望內容服務checkbox----------------- */
.check{
    font-size: 20px;
    
}
.checkbox{
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}
label{
    margin-right: 35px;
}
.container input:checked{
    background: pink;
  }
/* ------按鈕---- */
.btn{
    width: 80px;
    height: 45px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
}
.btn:hover{
    background-color: #dcd0c0;
    color: #363236;
}
.btnbox{
    text-align: center;
    margin-top: 40px;
    color: #FFFFFF;
    text-align: center;
}
.text{
    font-size: 18px;
    margin-top: 20px;
    color: #dcd0c0;
}