<div class="box">
    <div class="title">
        <div class="up">
            <p class="frontpage">首頁</p>
            <p>聯絡我們</p>
        </div>
        <div class="line">
            <p class="left-line"></p>
            <p class="contact">聯絡我們</p>
            <p class="right-line"></p>
        </div>
    </div>
    <!-- -----------------表單------------------ -->
    <div class="form">
        <form>
            <input class="input" type="text" placeholder="*您的企業/社區名稱">
            <input class="input" type="text" placeholder="*聯絡人姓名">
            <br>
            <input class="input" type="text" placeholder="*聯絡信箱">
            <input class="input" type="text" placeholder="*連絡電話">
            <br>
            <div class="law">
                法律類型<br>
                <select  class="law-main">
                    <option>企業</option>
                    <option>社區</option>
                </select>
                <!-- <input class="law-main" type="text" placeholder="*您的企業/社區名稱"> -->
            </div>
            
            <br>
            <div class="firm">
                企業-產業類型<br>
                <select  class="firm-main">
                    <option>農、林、漁、牧業</option>
                    <option>礦業及土石採取業</option>
                    <option>製造業</option>
                    <option>電力及燃氣供應業</option>
                    <option>用水供應及汙染整治業</option>
                    <option>營建工程業</option>
                    <option>批發及零售業</option>
                    <option>運輸及倉儲業</option>
                    <option>住宿及餐飲業</option>
                    <option>出版影音及資通訊業</option>
                    <option>金融及保險業</option>
                    <option>不動產業</option>
                    <option>專業、科學及技術服務業</option>
                    <option>支援服務業</option>
                    <option>公共行政及國防;強制性社會安全</option>
                    <option>教育業</option>
                    <option>醫療保健及社會工作服務業</option>
                    <option>藝術、娛樂及休閒服務業</option>
                    <option>其他服務業</option>
                </select>
                <br>
                <input class="firm-mainone" type="text" placeholder="*社區所在縣市">
            <!-- --------------checkbox---------------- -->
            <div>希望內容服務</div>
            <div class="check">
                <input class="checkbox" type="checkbox"><label for="cbox1">諮詢</label>
                <input class="checkbox" type="checkbox"><label for="cbox1">款項催收</label>
                <input class="checkbox" type="checkbox"><label for="cbox1">契約範本模擬</label>
                <input class="checkbox" type="checkbox"><label for="cbox1">審閱合約</label>
                <input class="checkbox" type="checkbox"><label for="cbox1">律師函撰擬</label>
                <br>
                <input class="checkbox" type="checkbox"><label for="cbox2">出席會議(董事會、所有權人會議等)</label>
                <input class="checkbox" type="checkbox"><label for="cbox2">其他</label>
            </div>
            <div class="btnbox">
                <input class="btn" type="submit" value="送出">
                <p class="text">
                    ※送出即同意本所蒐集您的信箱並訂閱本所法律電子報<br>
                    (不定期提供法律新知、法令遵循、法律講座)
                </p>
            </div>
           
        </div>
            
            
        </form>
    </div>
</div>
