<div class="box">
    <div class="title">
        <div class="line">
            <p class="left-line"></p>
            <p class="share">案例分享</p>
            <p class="right-line"></p>
        </div>
    </div>
    <div class="pic">
        <svg enable-background="new 0 0 48 48" height="" id="Layer_1" version="1.1" viewBox="0 0 48 48" width="" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M37,47H11c-2.209,0-4-1.791-4-4V5c0-2.209,1.791-4,4-4h18.973  c0.002,0,0.005,0,0.007,0h0.02H30c0.32,0,0.593,0.161,0.776,0.395l9.829,9.829C40.84,11.407,41,11.68,41,12l0,0v0.021  c0,0.002,0,0.003,0,0.005V43C41,45.209,39.209,47,37,47z M31,4.381V11h6.619L31,4.381z M39,13h-9c-0.553,0-1-0.448-1-1V3H11  C9.896,3,9,3.896,9,5v38c0,1.104,0.896,2,2,2h26c1.104,0,2-0.896,2-2V13z M33,39H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18  c0.553,0,1,0.448,1,1C34,38.553,33.553,39,33,39z M33,31H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1  C34,30.553,33.553,31,33,31z M33,23H15c-0.553,0-1-0.447-1-1c0-0.552,0.447-1,1-1h18c0.553,0,1,0.448,1,1C34,22.553,33.553,23,33,23  z" fill-rule=""/></svg>
        <p class="criminal">勞資糾紛</p>
    </div>
    <div class="text">
        <div class="font">
            <p class="first">犯罪被害人保護協會</p>
            <p class="second">犯罪被害人保護協會 犯罪被害人如果求償無門或找不到加害人，而有經濟上的困境的話，... <span style="padding-left:360px"></span>2019-04-24</p>
            <div class="bottom-line"></div>
            <!--------->
            <p class="first">車禍糾紛處理</p>
            <p class="second">事務所裡承辦的案件類型，除了家事婚姻親子事件居冠之外，車禍案件也是生活中很常發生的法律糾紛。 ...  <span style="padding-left:250px"></span>2019-12-06</p>
            <div class="bottom-line"></div>
            <p class="first">車禍糾紛處理</p>
            <p class="second">事務所裡承辦的案件類型，除了家事婚姻親子事件居冠之外，車禍案件也是生活中很常發生的法律糾紛。 ...  <span style="padding-left:250px"></span>2019-12-06</p>
            <div class="bottom-line"></div>
            <p class="first">車禍糾紛處理</p>
            <p class="second">事務所裡承辦的案件類型，除了家事婚姻親子事件居冠之外，車禍案件也是生活中很常發生的法律糾紛。 ...  <span style="padding-left:250px"></span>2019-12-06</p>
            <div class="bottom-line"></div>
            <p class="first">車禍糾紛處理</p>
            <p class="second">事務所裡承辦的案件類型，除了家事婚姻親子事件居冠之外，車禍案件也是生活中很常發生的法律糾紛。 ...  <span style="padding-left:250px"></span>2019-12-06</p>
            <div class="bottom-line"></div>
        </div>
    </div>
    
</div>


