.box{
    max-width: 100%;
    background-color: #363236;  
}
.image img{
    height: 550px;
    position: relative;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 300px;
    right: 200px;
}
.text{
    display: flex;
    align-items: center;
}
.layer{
    font-size: 60px;
    color: white;
}
.address{
    font-size: 20px;
    color: white;
}