<div class="box">
    <div class="image">
     <img src="assets/img/background.png" alt="">
    </div>
    <div class="text">
        <p class="layer">可道律師事務所</p>
        <p class="address">台北、基隆、桃園、新竹、苗栗、台中、南投、彰化、雲林、嘉義、台南、高雄、宜蘭、花蓮</p>
    </div>
</div>
