
.box{
    width: 100%;
    background-color: #363236;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;

}
.left-line{
    width: 250px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.reserve{
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
.right-line{
    width: 1300px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.layer{
    width: 1500px;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}
.card{
    margin: auto;
    padding: 10px;
    width: 300px;
    height: 400px;
    background-color:  #d2d2d2;
    box-shadow:0 1rem 3rem rgba(0,0,0,.175);
    border-radius: 25px;
    margin-bottom: 150px;
}
.photo-one{
    background: url("https://www.0920340500.com/upload/staff/e4e6d0699ff810295a5a63afaf83efd4.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-two{
    background: url("https://www.0920340500.com/upload/staff/5b88897c686947ee09d78e7e78381a13.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-three{
    background: url("https://www.0920340500.com/upload/staff/a9add4c08972764641ca69041a1c9447.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-four{
    background: url("https://www.0920340500.com/upload/staff/75fb8d4fb0f125fd0688c8a337ba7b58.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-five{
    background: url("https://www.0920340500.com/upload/staff/a85ee659af70bfa6154ab5460ef95ebd.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-six{
    background: url("https://www.0920340500.com/upload/staff/c359ad32d16991e522823d667fb83f77.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-seven{
    background: url("https://www.0920340500.com/upload/staff/d84f077aaebacc9073601976a21c23c2.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-eight{
    background: url("https://www.0920340500.com/upload/staff/d73d632fcd2d82baad02941d9af81750.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-nine{
    background: url("https://www.0920340500.com/upload/staff/c951c3fed25943c00b892ff32dde8e10.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-ten{
    background: url("https://www.0920340500.com/upload/staff/82306156355bd304fda426f1db709e5f.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-eleven{
    background: url("https://www.0920340500.com/upload/staff/a72c7da48891fe782c3a6e52b4073988.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-twelve{
    background: url("https://www.0920340500.com/upload/staff/de39b01df047463620f14782a8e3f495.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-thirteen{
    background: url("https://www.0920340500.com/upload/staff/11f3a72a2be2befedda310bdaa47b471.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-fourteen{
    background: url("https://www.0920340500.com/upload/staff/5584a68e26be10ccb52666d3e2bd2bc5.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-fifteen{
    background: url("https://www.0920340500.com/upload/staff/0a6a7dcf49fc7c46dd0179faef5941d8.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-sixteen{
    background: url("https://www.0920340500.com/upload/staff/cdcf8639f4e222927147b32a0a604a73.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-seventeen{
    background: url("https://www.0920340500.com/upload/staff/3eb175772d11705e3a13a58f9577f52f.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-eighteen{
    background: url("https://www.0920340500.com/upload/staff/68c9c5b614ef6e137a8bd2cabbb8aa47.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
.photo-nineteen{
    background: url("https://www.0920340500.com/upload/staff/5f94bfbdeb51e08b5494727dca8554fd.jpg");
    background-size: cover;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    margin: -100px 0px 0px 50px;
    padding: 10px;
    width: 180px;
    height: 180px;
    border-radius:100%;
    border:2px solid white;
    position: relative;
}
/* .control-ps{
    position: relative;
} */
.pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: #dcd0c0;
    font-weight: bold;
}
.pic svg{
    width: 70px;
    height: 70px;
    fill: #dcd0c0;
}
.first{
    width: 1500px;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    display: flex;
    padding-top: 150px;
}
.second{
    width: 1500px;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    display: flex;
    padding-top: 150px;
}
.word{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    color: #5e4947;

}
h1{
    font-size: 24px;
    margin-bottom: 10px;
    
}
.positon{
    font-size: 20px;
    margin-bottom: 20px;
}
h5{
    font-size: 14px;
    line-height: 20px;
}