<div class="box">
    <div class="line">
        <p class="left-line"></p>
        <p class="reserve">專業團隊</p>
        <p class="right-line"></p>
    </div>    
    <div class="layer">
        <div class="first">
            <div class="card">
                <div class="photo-one"></div>
                <div class="word">
                    <h1 class="title">吳存富</h1>
                    <p class="positon">主持律師</p>
                    <h5>
                        輔仁大學法律系司法組畢業<br>
                        國立政治大學法律研究所(在職專班就讀中)<br>
                        齊麟國際法律事務所法律研究員<br>
                        博仲法律事務所法律研究員<br>
                        國家考試律師高考及格<br>
                        台英國際法律事務所律師<br>
                        可道律師事務所主持律師<br>
                        中華不動產仲裁協會仲裁人<br>
                        中華民國仲裁協會仲裁人
                    </h5>
                </div>
                
            </div>
            <div class="card">
                <div class="photo-two"></div>
                <div class="word">
                    <h1 class="title">李尚宇</h1>
                    <p class="positon">顧問律師</p>
                    <h5>
                        屏東地檢署檢察官<br>
                        台南地檢署檢察官<br>
                        台北地檢署檢察官<br>
                        國家考試律師高考及格<br>
                        專利代理人<br>
                        東吳大學法學碩士<br>
                        國立政治大學傳播學院碩士班<br>
                        國立中正大學戰略暨國際關係碩士<br>
                        國立台北大學法學士<br>
                        文化大學推廣教育中心法律講座講師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-three"></div>
                <div class="word">
                    <h1 class="title">黃韋儒</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        世新大學法律學系畢業<br>
                        可道律師事務所法務專員<br>
                        國家考試律師高考及格<br>
                        可道律師事務所受僱律師<br>
                        可道律師事務所合夥律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-four"></div>
                <div class="word">
                    <h1 class="title">溫俊國</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        世新大學法律系畢業<br>
                        臺灣高等法院高雄分院法官助理<br>
                        臺灣高雄少年及家事法院訴訟輔導科專員<br>
                        國家考試律師高考及格<br>
                        可道律師事務所合夥律師
                    </h5>
                </div>
            </div>
            <!-- -----5------ -->
            <div class="card">
                <div class="photo-five"></div>
                <div class="word">
                    <h1 class="title">陳庭琪</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        台大法學碩士<br>
                        台大法律系財經法學組學士<br>
                        國家考試律師高考及格<br>
                        可道律師事務所合夥律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-six"></div>
                <div class="word">
                    <h1 class="title">林修平</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        東海大學法律系畢業<br>
                        世新大學法學組碩士<br>
                        國家考試律師高考及格<br>
                        可道律師事務所受僱律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-seven"></div>
                <div class="word">
                    <h1 class="title">鍾依庭</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        國立中正大學財經法律學系學士<br>
                        國立中央大學法律與政府研究所碩士<br>
                        中央選舉委員會科員<br>
                        永平國際法律事務所受雇律師<br>
                        台北市危老推動師<br>
                        可道律師事務所受雇律師<br>
                        可道律師事務所合夥律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-eight"></div>
                <div class="word">
                    <h1 class="title">張立民</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        東吳大學法律系<br>
                        東吳大學法律系法律研究所民法組<br>
                        可道律師事務所受雇律師<br>
                        可道律師事務所合夥律師
                    </h5>
                </div>
            </div>
            <!-- ---------9--------- -->
            <div class="card">
                <div class="photo-nine"></div>
                <div class="word">
                    <h1 class="title">楊喬閔</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        國立成功大學法律系研究所科際整合法律組碩士<br>
                        國家考試律師高考及格<br>
                        可道律師事務所合夥律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-ten"></div>
                <div class="word">
                    <h1 class="title">梁惟翔</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        國立政治大學法律系學士<br>
                        國立政治大學刑事法組碩士班<br>
                        國家考試律師高考及格<br>
                        可道律師事務所合夥律師<br>
                        志光公職刑事法講師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-eleven"></div>
                <div class="word">
                    <h1 class="title">徐亦安</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        東吳大學法律學系學士<br>
                        國家考試律師高考及格<br>
                        可道律師事務所受雇律師<br>
                        衡律法律事務所受雇律師<br>
                        可道律師事務所合夥律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-twelve"></div>
                <div class="word">
                    <h1 class="title">彭志煊</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        國立政治大學法律系財經法組<br>
                        萊爾富國際股份有限公司法務
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-thirteen"></div>
                <div class="word">
                    <h1 class="title">許亞哲</h1>
                    <p class="positon">合夥律師</p>
                    <h5>
                        國立台北大學法律系學士<br>
                        國立政治大學財經法組碩士班<br>
                        國家考試律師高考及格<br>
                        中國法律職業資格考試合格<br>
                        可道律師事務所受雇律師<br>
                        可道律師事務所合夥律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-fourteen"></div>
                <div class="word">
                    <h1 class="title">李宜真</h1>
                    <p class="positon">律師</p>
                    <h5>
                        中國文化大學法律系畢業<br>
                        國家考試律師高考及格<br>
                        可道律師事務所受雇律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-fifteen"></div>
                <div class="word">
                    <h1 class="title">張媁婷</h1>
                    <p class="positon">律師</p>
                    <h5>
                        國立中興大學法律學系暨歷史學系學士<br>
                        滙利國際商務法律事務所法務助理<br>
                        國家考試律師高考及格<br>
                        眾律國際法律事務所受僱律師<br>
                        可道律師事務所受僱律師
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-sixteen"></div>
                <div class="word">
                    <h1 class="title">林品君</h1>
                    <p class="positon">律師</p>
                    <h5>
                        國立臺北大學法律學系司法組學士<br>
                        國家考試律師高考及格<br>
                        可道律師事務所實習律師<br>
                        可道律師事務所受僱律師
                    </h5>
                </div>
            </div>
        </div>
        
        <div class="pic">
            <svg enable-background="new 0 0 64 64" height="" id="Layer_1" version="1.1" viewBox="0 0 64 64" width="" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M63.766,26.698l-0.027-0.062l0.015-0.012l-0.198-0.378L52.936,6.025c-0.29-0.528-1.299-2.078-3.24-2.078  H14.119c-2.166,0-3.25,2.134-3.274,2.184L0.415,25.99l-0.004,0.009l-0.074,0.14c-0.175,0.346-0.563,1.286-0.178,2.214  c2.65,4.302,7.374,7.188,12.797,7.188c5.302,0,9.927-2.765,12.607-6.908c0.41-0.941-0.161-2.12-0.161-2.12L15.534,7.721  l-0.096-0.182c-0.133-0.306-0.251-0.889,0.807-0.889h12.938c0.367,0.012,1.39,0.194,1.39,1.907v44.518  c-0.024,0.441-0.191,1.334-1.108,1.9l-6.477,4.006c0,0-1.699,1.072,0,1.072h18.379c1.253,0,0-0.869,0-0.869L34.695,55.1  c-0.003-0.002-0.003-0.004-0.006-0.006c-1.097-0.672-1.302-1.518-1.332-1.945V8.367c0-1.548,1.11-1.708,1.5-1.717h12.651  c0.331,0.006,1.34,0.116,0.705,1.331l-9.907,18.858c0,0-0.31,0.742,0.039,1.556c2.653,4.278,7.359,7.146,12.765,7.146  c5.415,0,10.138-2.874,12.788-7.166C64.163,27.683,63.865,26.915,63.766,26.698z M22.198,26.104l0.001,0.001l0.136,0.261  c0.21,0.434,0.527,1.26-0.136,1.26L3.391,27.624c-0.624,0-0.5-0.571-0.301-1.032l0.298-0.566l0.003-0.005l8.966-17.072  c0,0,0.458-0.708,0.83,0h0.001L22.198,26.104z M41.578,26.311l0.133-0.253c0-0.001,0.005-0.01,0.005-0.01l8.766-16.691  c0.012-0.018,0.607-1.15,1.213,0.003l8.74,16.639c0.181,0.358,0.734,1.629-0.563,1.629l-17.455-0.003c-0.003,0-0.003,0-0.003,0  C41.142,27.624,41.372,26.758,41.578,26.311z"/></svg>
            <p>法務團隊</p>
        </div>
        <div class="second">
            <div class="card">
                <div class="photo-seventeen"></div>
                <div class="word">
                    <h1 class="title">林靜如</h1>
                    <p class="positon">法務專員</p>
                    <h5>
                        輔仁大學法律系司法組畢業<br>
                        齊麟國際法律事務所法律研究員<br>
                        博仲法律事務所法律研究員<br>
                        TVBS法務助理<br>
                        可道律師事務所法律研究員
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-eighteen"></div>
                <div class="word">
                    <h1 class="title">林致瑋</h1>
                    <p class="positon">法務專員</p>
                    <h5>
                        國立中正大學法律系畢業<br>
                        可道律師事務所法務專員
                    </h5>
                </div>
            </div>
            <div class="card">
                <div class="photo-nineteen"></div>
                <div class="word">
                    <h1 class="title">張宇萱</h1>
                    <p class="positon">法務專員</p>
                    <h5>
                        真理大學大學法律系<br>
                        可道律師事務所法務專員
                    </h5>
                </div>
            </div>
        </div>
        
    </div>
</div>






