.box{
    width: 100%;
    background-color: #363236;
}

.line{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5%;

}
.left-line{
    width: 250px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.right-line{
    width: 1300px;
    border-top: 2px;
    border-style:solid;
    color: #dcd0c0;
}
.news{
    color: #dcd0c0;
    font-size: 24px;
    font-weight: bold;
}
/* -----------按鈕------------ */
.btn{
    display: flex;
    justify-content: center;
    color: #dcd0c0;
    font-size: 20px;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 100px;
}
.period{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-right: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #8e6c66;
}
.front{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-left: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #8e6c66;
}
.period:hover{
    background-color: #8e6c66 ;
}
.front:hover{
    background-color: #8e6c66 ;
}
/* --------------文字------------- */
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;

}
.first{
    font-size: 18PX;
    color: #e9b775;
    margin-top: 18px;
    margin-bottom: 7px;
}
.second{
    color: #dcd0c0;
}
.bottom-line{
    width: 800px;
    border-top: 2px;
    border-style:solid;
    border-style: dashed;
    color: #dcd0c0;
    margin-top: 10px;
}
/* ----------------- */
.nub{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #dcd0c0;
    font-size: 20px;
    padding-bottom: 50px;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #8e6c66;
}
.two{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #8e6c66;
}
.three{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #8e6c66;
}
.four{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #8e6c66;
}
.one:hover{
    background-color: #8e6c66;
}
.two:hover{
    background-color: #8e6c66;
}
.three:hover{
    background-color: #8e6c66;
}
.four:hover{
    background-color: #8e6c66;
}