<div class="box">
    <div class="title">
        <div class="line">
            <p class="left-line"></p>
            <p class="news">最新消息</p>
            <p class="right-line"></p>
        </div>
    </div>
    <div class="btn">
        <div class="period">
            <p>諮詢時段</p>
        </div>
        <div class="front">
            <p>最新消息</p>
        </div>
    </div>
    <div class="text">
        <div class="font">
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- --5--- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- --10--- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
            <!-- ----- -->
            <p class="first">109/9月台中諮詢時段</p>
            <p class="second">9/13  09:30-11:30(日)9/18  14:00-16:00(五)9/20  09:30-11:... <span style="padding-left:330px"></span>2020-09-09</p>
            <div class="bottom-line"></div>
        </div>
        <div class="nub">
            <div class="one">
                <p>1</p>
            </div>
            <div class="two">
                <p>2</p>
            </div>
            <div class="three">
                <p>3</p>
            </div>
            <div>
                <p class="four">4</p>
            </div>
        </div>
    </div>
</div>