<div class="box">
    <div class="all">
        <div class="text">
            <p>律師團隊</p>
        </div>
        <carousel [cellWidth]="200" [width]="1000">
            <div class="carousel-cell">
                <div class="pic1">
                    <!-- <img src="assets/img/layer1.png" alt=""> -->
                </div>
            </div>
            <div class="carousel-cell">
                <div class="pic2">
                    <!-- <img src="assets/img/layer1.png" alt=""> -->
                </div>
            </div>
            <div class="carousel-cell">
                <div class="pic3">
                    <!-- <img src="assets/img/layer1.png" alt=""> -->
                </div>
            </div>
            <div class="carousel-cell">
                <div class="pic4">
                    <!-- <img src="assets/img/layer1.png" alt=""> -->
                </div>
            </div>
            <div class="carousel-cell">
                <div class="pic5">
                    <!-- <img src="assets/img/layer1.png" alt=""> -->
                </div>
            </div>
            <div class="carousel-cell">
                <div class="pic6">
                    <!-- <img src="assets/img/layer1.png" alt=""> -->
                </div>
                
            </div>
            <div class="carousel-cell">
                <div class="pic7">
                    <!-- <img src="assets/img/layer1.png" alt=""> -->
                </div>
                
            </div>
            <div class="carousel-cell">
                <div class="pic8">
                    <!-- <img src="assets/img/layer1.png" alt=""> -->
                </div>
                
            </div>
        </carousel>
        
        <!-- <div class="text-p">
            <p>吳存富</p>
            <p>主持律師</p>
            <p>
                輔仁大學法律系司法組畢業<br>
                國立政治大學法律研究所(在職專班就讀中)<br>
                齊麟國際法律事務所法律研究員<br>
                博仲法律事務所法律研究員<br>
                國家考試律師高考及格<br>
                台英國際法律事務所律師<br>
                可道律師事務所主持律師<br>
                中華不動產仲裁協會仲裁人<br>
                中華民國仲裁協會仲裁人
            </p>
        </div> -->
        
        <!-- <div class="team">
            <img class="team-one" src="assets/img/layer1.png" alt="">
            <img class="team-two" src="assets/img/layer2.png" alt="">
            <img class="team-three" src="assets/img/layer3.png" alt="">
            <img class="team-four" src="assets/img/layer4.png" alt="">
        </div> -->
    </div>

    <div class="circle"></div>
</div>

