.box{
    max-width: 100%;
    height: 800px;
    background-color: #4e4e56;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    color: #decfbf;
    font-size: 30px;
    font-weight: bold;
    -bottom: 50px;
}
.team{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.big-team{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* .team-other{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.team-other img{
    width: 70%;
    
}
.team img{
    width: 300px;
}
.team-one{
    margin-right: 50px;
    
}
.team-two{
    margin-right: 50px;
}
.team-three{
    margin-right: 50px;
}
/* ------------------------- */
.text-p{
    color: #decfbf;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.pic1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://0920340500.com/upload/staff/e4e6d0699ff810295a5a63afaf83efd4.jpg");
    background-size: cover;
}
.pic2{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://0920340500.com/upload/staff/5b88897c686947ee09d78e7e78381a13.jpg");
    background-size: cover;
}
.pic3{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://0920340500.com/upload/staff/a9add4c08972764641ca69041a1c9447.jpg");
    background-size: cover;
}
.pic4{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://0920340500.com/upload/staff/75fb8d4fb0f125fd0688c8a337ba7b58.jpg");
    background-size: cover;
}
.pic5{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://0920340500.com/upload/staff/a85ee659af70bfa6154ab5460ef95ebd.jpg");
    background-size: cover;
}
.pic6{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://0920340500.com/upload/staff/c359ad32d16991e522823d667fb83f77.jpg");
    background-size: cover;
}
.pic7{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://0920340500.com/upload/staff/d84f077aaebacc9073601976a21c23c2.jpg");
    background-size: cover;
}
.pic8{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: url("https://0920340500.com/upload/staff/d73d632fcd2d82baad02941d9af81750.jpg");
    background-size: cover;
}

/* .left svg{
    position: absolute;
    left: 150px;
    top: 350px
}
.right svg{
    position: absolute;
    right: 150px;
    top: 350px
} */
/* ------------------- */
/* .circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #decfbf;
    position: absolute;
    top: 220px;
    left: 295px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
} */